html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Pixelar', sans-serif, arial, -apple-system;
	height: 100%;
}
#__next {
	height: 100%;

	background: #f8f8f8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Pixelar', sans-serif, arial, -apple-system;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Pixelar', sans-serif, arial, -apple-system;
}

@font-face {
	font-family: 'Pixelar';
	src: url('/fonts/Pixelar/Pixelar-Regular-W01-Regular.ttf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
